<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag "#{category.icon}", class: 'img category-img', alt: "#{category.name}" %>
  </p>

</div>
